.item-status-btn-div {
  /* border: solid 2px tomato; */
  margin-top: 32px;
  text-align: center;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* padding-right: 30px; */
}

.item-status-btn {
  /* margin-left: 120px; */
  border: none;
  margin-left: 8px;
  width: 8%;
  height: 28px;
  background-color: rgb(187, 236, 243);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  font-family: 'Luckiest Guy', cursive;
  border-radius: 2px;
}

.item-status-btn:hover {
  background-color: rgb(245, 139, 139);
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.act {
  background-color: rgb(245, 139, 139);
}
