.App {
  /* text-align: center; */
  background-color: #212121;
  width: 84%;
  margin: 0 auto;
  padding: 0;
  color: #fafafa;
}

font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Asap', sans-serif;
